* {
  margin: 0;
}
.canvas {
    text-align: center;
    margin: 100px auto 100px;
    width: 80%;
}

span {
  display: block;
}
.button {
  width: 100px;
  height: 100px;
  margin: 15px;
  margin-top: 30px;
  border: 2px solid black;
  display: inline-block;
}

#grey {
  background-color: gray;
}
#yellow {
  background-color: yellow;
}
#red {
  background-color: red;
}
#purple {
  background-color: purple;
}
#white {
  background-color: white;
}
#blue {
  background-color: blue;
}
